@font-face {
   font-family: 'Gotham Medium';
   src: url("/fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
   font-family: 'Gotham Thin';
   src: url("/fonts/GothanThin.otf") format("truetype");
}

@font-face {
   font-family: 'Gotham Ultra';
   src: url("/fonts/GothamUltra.otf") format("truetype");
}