#contato{
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    .container{
        width: 100%;
        height: 50%;
        display: flex;
        position: relative;
        
        .box{
            width: 50%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        
        &:first-of-type{
            
            .box{
                
                &:first-of-type{
                    
                    .content{
                        
                        p{
                            font-size: 4em;
                            font-family: $gThin;
                            width: 100%;
                            line-height: 60px;
                            
                            b{
                                font-family: $gUltra;
                            }
                        }
                    }
                }
                
                &:last-of-type{
                    background: #00aeef;
                }
                
            }
        }
        
        &:last-of-type{
            
            .box{
                
                &:first-of-type{
                    @include bgImg('animals.png');
                    width: 35%;
                }
                
                &:last-of-type{
                    width: 75%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: normal;
                    
                    .row{
                        width: 100%;
                        
                        img{
                            height: 50px;
                        }
                        
                        &:first-of-type{
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            padding: 0 20%;
                            font-size: 2em;
                            font-family: $gThin;
                            
                            a{
                                transition-duration: .2s;
                            
                                &:hover{
                                   transform: translateY(-3px);
                                }
                            }
                        }
                        
                        &:last-of-type{
                            display: flex;
                            justify-content: center;
                            align-items: normal;
                            
                            a{
                                text-decoration: none;
                                color: #111;
                                font-size: 3em;
                                font-family: $gThin;
                                
                                img{ vertical-align: middle; }
                                
                                &:before{
                                    content: '';
                                    background: url('/res/arrow.png');
                                    height: 15px;
                                    width: 20px;
                                    position: absolute;
                                    right: 380px;
                                    background-position: center;
                                    bottom: 70px;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    opacity: .6;
                                    
                                }
                                
                                &:after{
                                    content: 'clique para mailto';
                                    position: absolute;
                                    font-size: 0.3em;
                                    font-family: 'Gotham Medium';
                                    bottom: 65px;
                                    right: 240px;
                                    opacity: .6;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .gato{
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
            height: 100%;
        }
    }

}