#sobre{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    
    animation: fadein 1s;
    animation-iteration-count: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 2.5s;
    
    .cow{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .container{
        width: 50%;
        height: 100%;
        
        .box{
            height: 50%;
            
            @include bgImg('animals.png');
            
            &:first-of-type{
                background: $yellow;
                display: flex;
                align-items: center;
                justify-content: center;
                
                p{
<<<<<<< HEAD
                    font-size: 1.2em;
=======
                    font-size: 2em;
>>>>>>> b117f2345bc94ef2cd136776f0951e89e4c3b63c
                    font-family: $gThin;
                    
                    &:first-of-type{
                        font-family: $gUltra;
                        font-size: 3em;
                    }
                }
            }
            
            &:last-of-type{
                display: flex;
                align-items: center;
                
                .row{
                    width: 100%; 
                        
                    .strap{
                        background: $pink;
                        height: 40px;
                        width: 65%;
<<<<<<< HEAD
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                                                
                        p{
                            text-align: right;
                            font-size: 1em;
                            font-family: $gUltra;
                            margin-right: 10px;
                            text-transform: uppercase;
=======
                        
                        p{
                            text-align: right;
                            font-size: 2em;
                            font-family: $gUltra;
                            margin-right: 10px;
>>>>>>> b117f2345bc94ef2cd136776f0951e89e4c3b63c
                        }
                        
                        &:not(:first-of-type){
                            margin: 20px 0;
                        }
                    }
                    
                }
            }
        }
        
        &:last-of-type{
            display: flex;
            align-items: center;
            justify-content: center;
            
            img{
<<<<<<< HEAD
                transform: translateX(2vw);
                height: 40vw;
=======
                transform: translateX(-50px);
                height: 85%;
>>>>>>> b117f2345bc94ef2cd136776f0951e89e4c3b63c
            }
        }
    }
}